::view-transition-new(root) {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 247.113 247.113"><path d="M18.788,141.616c3.141-0.948,6.602-1.449,10.01-1.449c6.087,0,20.847,1.762,26.431,18.083c1.138,3.327,2.313,7.734,3.674,12.838c3.623,13.588,8.585,32.197,17.762,47.342c11.533,19.033,27.309,28.683,46.89,28.683c19.583,0,35.36-9.651,46.893-28.686c9.177-15.146,14.139-33.756,17.762-47.345c1.36-5.101,2.535-9.507,3.672-12.833c5.585-16.322,20.346-18.084,26.432-18.084c3.408,0,6.869,0.501,10.009,1.449c2.708,0.819,5.646,0.042,7.598-2.006c1.951-2.048,2.584-5.02,1.637-7.686c-5.752-16.178-22.288-26.64-42.139-26.669c-0.402-0.008-0.81-0.012-1.208-0.012c-8.97,0-17.003,2.028-24.197,5.438c0.175-3.615,0.286-7.253,0.286-10.912C170.302,42.891,150.205,0,123.555,0C96.908,0,76.812,42.891,76.812,99.767c0,3.66,0.111,7.298,0.286,10.912c-7.193-3.41-15.226-5.438-24.195-5.438c-0.401,0-0.803,0.004-1.207,0.012c-19.85,0.029-36.386,10.491-42.14,26.668c-0.948,2.666-0.316,5.638,1.636,7.687C13.142,141.657,16.079,142.434,18.788,141.616z M129.805,17.028c6.805,4.293,13.45,15.244,18.249,30.695h-18.249V17.028z M129.805,60.223H151.3c1.36,6.355,2.422,13.22,3.108,20.5h-24.603V60.223z M129.805,93.223h25.382c0.068,2.158,0.114,4.334,0.114,6.545c0,4.695-0.172,9.355-0.48,13.955h-25.016V93.223z M129.805,126.223h19.433c-8.134,8.653-14.528,18.938-19.433,28.802V126.223z M117.305,17.028v30.695H99.058C103.858,32.272,110.501,21.321,117.305,17.028z M95.814,60.223h21.492v20.5h-24.6C93.391,73.442,94.453,66.577,95.814,60.223z M91.927,93.223h25.379v20.5H92.292c-0.308-4.598-0.48-9.258-0.48-13.955C91.812,97.557,91.859,95.38,91.927,93.223z M117.305,126.223v28.801c-4.905-9.864-11.299-20.148-19.433-28.801H117.305z M51.777,120.254c0.055,0,0.11-0.001,0.165-0.002c0.322-0.007,0.642-0.01,0.961-0.01c45.806,0,63.167,74.559,63.335,75.307c0.768,3.425,3.809,5.859,7.319,5.859c3.51,0,6.55-2.435,7.318-5.859c0.128-0.57,10.031-43.427,34.771-64.224c0.242-0.204,0.488-0.401,0.733-0.601c8.017-6.521,17.556-10.721,28.794-10.472c0.055,0.001,0.109,0.002,0.164,0.002c7.29,0,13.754,1.821,18.754,5.083c-17.359,1.425-30.799,11.686-36.401,28.058c-1.306,3.816-2.542,8.454-3.974,13.824c-6.89,25.842-17.302,64.895-50.161,64.895c-32.856,0-43.269-39.05-50.159-64.89c-1.433-5.372-2.669-10.011-3.976-13.829c-5.601-16.37-19.042-26.631-36.4-28.057C38.023,122.075,44.488,120.254,51.777,120.254z"/></svg>')
      center / 0 no-repeat;
    animation: scale 1s;
  }
  
  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: none;
    z-index: -1;
  }
  .dark::view-transition-new(root) {
    animation: scale 1s;
  }
  
  @keyframes scale {
    0% {
      mask-size: 0;
    }
    50% {
      mask-size: 40vmax;
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); /* Aceleración */
    }
    100% {
      mask-size: 2000vmax;
    }
  }